Repository zcash/zcash, pull requests merged in 2018-06, with the labels that each got.

#3299 Add hashFinalSaplingRoot to getblocktemplate
  qa/rpc-tests/getblocktemplate.py
  src/rpcmining.cpp
Labels: RPC interface

#3321 Remove now redundant Rust call to librustzcash_xor.
  src/pow.cpp
Labels: cleanup, review needed

#3322 Naming improvements
  src/gtest/test_joinsplit.cpp
  src/gtest/test_proofs.cpp
  src/gtest/test_transaction.cpp
  src/primitives/transaction.cpp
  src/primitives/transaction.h
  src/test/sighash_tests.cpp
  src/test/transaction_tests.cpp
  src/wallet/rpcwallet.cpp
  src/zcash/JoinSplit.cpp
  src/zcash/JoinSplit.hpp
  src/zcash/Proof.cpp
  src/zcash/Proof.hpp
  src/zcbenchmarks.cpp
Labels: cleanup

#3332 Add test vectors for sapling key components
  src/Makefile.test.include
  src/gtest/test_keystore.cpp
  src/test/data/sapling_key_components.json
Labels: testing

#3337 Add hashFinalSaplingRoot to getblockheader and getblock output
  src/rpcblockchain.cpp
Labels: RPC interface

#3259 Clarify help that signmessage only works on taddrs
  src/wallet/rpcwallet.cpp
Labels: RPC interface, documentation, usi

#3346 Closes #3328. Send alert to put non-Overwinter nodes into safe mode.
  src/sendalert.cpp
Labels: SECURITY, alert system, wallet

#3303 (rpc-test) accurately account for fee without rounding error
  qa/rpc-tests/zkey_import_export.py
Labels: testing
