Repository zcash/zcash, pull requests merged in 2018-09, with the labels that each got.

#3307 Refactor ContextualCheckBlock tests
  src/gtest/test_checkblock.cpp
Labels: consensus protocol, testing

#3452 Test peer banning logic in both pre- and post-initial block download states
  src/gtest/test_checktransaction.cpp
  src/main.cpp
  src/main.h
Labels: testing

#3536 Replace Sapling support-related asserts with JSON errors
  src/wallet/asyncrpcoperation_mergetoaddress.cpp
  src/wallet/rpcdump.cpp
Labels: RPC interface, Sapling, usability

#3537 Enable Sapling features on mainnet
  src/gtest/test_keys.cpp
  src/key_io.cpp
  src/test/rpc_wallet_tests.cpp
  src/wallet/rpcwallet.cpp
Labels: RPC interface, Sapling

#3499 Sapling support for z_listreceivedbyaddress
  qa/pull-tester/rpc-tests.sh
  qa/rpc-tests/wallet_listreceived.py
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: RPC interface, Sapling, wallet
