Repository zcash/zcash, pull requests merged in 2019-06, with the labels that each got.

#4036 Replace CSproutNotePlaintextEntry with SproutNoteEntry to match Sapling
  src/wallet/asyncrpcoperation_saplingmigration.cpp
  src/wallet/asyncrpcoperation_sendmany.cpp
  src/wallet/gtest/test_wallet.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: cleanup, wallet

#4017 Fix typo and clean up help message for RPC z_getmigrationstatus.
  src/wallet/rpcwallet.cpp
Labels: RPC interface, documentation

#4041 z_getmigrationstatus help message wording change
  src/wallet/rpcwallet.cpp
Labels: RPC interface, documentation

#4019 Closes #3992. Remove obsolete warning message.
  src/main.cpp
Labels: Bitcoin Core codebase, auto-senescence, cleanup

#3863 add spentindex to getrawtransaction RPC results for bitcore block explorer
  qa/pull-tester/rpc-tests.sh
  qa/rpc-tests/getrawtransaction_insight.py
  src/main.cpp
  src/main.h
  src/rpc/rawtransaction.cpp
  src/script/script.cpp
  src/script/script.h
  src/script/standard.cpp
  src/script/standard.h
Labels: explorer, needs documentation, operations, packaging
