Repository zcash/zcash, pull requests merged in 2019-05, with the labels that each got.

#3982 Update chain work and checkpoint for 2.0.5 release
  src/chainparams.cpp
Labels: release

#3981 Notable changes for v2.0.5
  doc/release-notes.md
Labels: release

#3997 Remove unused specifier from format string
  src/transaction_builder.cpp
Labels: bug, wallet

#3995 Don't allow Sprout-to-Sapling migration when syncing during IBD or after wake from sleep.
  src/wallet/wallet.cpp
Labels: Sapling, bug, wallet

#4008 Fix tree depth in comment
  src/gtest/test_merkletree.cpp
Labels: documentation

#4032 Remove old mergetoaddress RPC test
  qa/rpc-tests/wallet_mergetoaddress.py
Labels: RPC interface, cleanup, testing
