Repository zcash/zcash, pull requests merged in 2019-10, with the labels that each got.

#3765 Display which network the node is running on. Resolves #3760.
  src/metrics.cpp
Labels: community contribution, metrics screen, usability

#4157 depends macOS: point --sysroot to SDK
  depends/builders/darwin.mk
Labels: macOS

#4177 #4175 z_sendmany coinbase to zaddr with change: report error status
  src/wallet/asyncrpcoperation_common.cpp
Labels: RPC interface, error handling
