Repository zcash/zcash, pull requests merged in 2020-07, with the labels that each got.

#4579 Add joinSplitPubKey and joinSplitSig to RPC
  qa/rpc-tests/wallet.py
  src/rpc/rawtransaction.cpp
Labels: RPC interface

#4489 [ZIP 211] Disabling Addition of New Value to the Sprout Value Pool
  qa/pull-tester/rpc-tests.sh
  qa/rpc-tests/remove_sprout_shielding.py
  src/gtest/test_checktransaction.cpp
  src/main.cpp
  src/wallet/rpcwallet.cpp
Labels: actively deprecating, consensus protocol

#4578 ZIP212 implementation
  qa/rpc-tests/test_framework/util.py
  src/amqp/amqpnotificationinterface.cpp
  src/amqp/amqpnotificationinterface.h
  src/consensus/consensus.h
  src/gtest/test_checktransaction.cpp
  src/gtest/test_noteencryption.cpp
  src/gtest/test_sapling_note.cpp
  src/gtest/test_transaction_builder.cpp
  src/main.cpp
  src/miner.cpp
  src/transaction_builder.cpp
  src/utiltest.cpp
  src/utiltest.h
  src/validationinterface.cpp
  src/validationinterface.h
  src/wallet/gtest/test_wallet.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/test/rpc_wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/zcash/Note.cpp
  src/zcash/Note.hpp
  src/zcash/NoteEncryption.cpp
  src/zcash/NoteEncryption.hpp
  src/zcash/prf.cpp
  src/zcash/prf.h
  src/zcbenchmarks.cpp
  src/zmq/zmqnotificationinterface.cpp
  src/zmq/zmqnotificationinterface.h
Labels: SECURITY, consensus protocol, diversified addresses

#4572 Add solution rates aproximation to metrics
  src/metrics.cpp
Labels: metrics screen

#4560 [ZIP 207] Funding Streams + [ZIP 214] Dev Fund Recipients
  qa/pull-tester/rpc-tests.sh
  qa/rpc-tests/blockchain.py
  qa/rpc-tests/coinbase_funding_streams.py
  qa/rpc-tests/mining_shielded_coinbase.py
  qa/rpc-tests/test_framework/mininode.py
  src/Makefile.am
  src/bitcoin-tx.cpp
  src/chainparams.cpp
  src/chainparams.h
  src/consensus/funding.cpp
  src/consensus/funding.h
  src/consensus/params.cpp
  src/consensus/params.h
  src/core_write.cpp
  src/gtest/test_checkblock.cpp
  src/gtest/test_foundersreward.cpp
  src/gtest/test_keys.cpp
  src/init.cpp
  src/key_constants.h
  src/key_io.cpp
  src/key_io.h
  src/main.cpp
  src/main.h
  src/miner.cpp
  src/rpc/blockchain.cpp
  src/rpc/mining.cpp
  src/rpc/misc.cpp
  src/rpc/rawtransaction.cpp
  src/test/base58_tests.cpp
  src/test/bip32_tests.cpp
  src/test/bloom_tests.cpp
  src/test/key_tests.cpp
  src/transaction_builder.h
  src/utiltest.cpp
  src/wallet/asyncrpcoperation_mergetoaddress.cpp
  src/wallet/asyncrpcoperation_saplingmigration.cpp
  src/wallet/asyncrpcoperation_sendmany.cpp
  src/wallet/asyncrpcoperation_shieldcoinbase.cpp
  src/wallet/paymentdisclosure.cpp
  src/wallet/rpcdisclosure.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/test/rpc_wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/walletdb.cpp
  src/zcash/Note.hpp
Labels: PoW and mining, consensus protocol

#4598 [v3.1.0] Update release notes
  doc/release-notes.md
Labels: documentation, release

#4601 Release v3.1.0-rc1
  README.md
  configure.ac
  contrib/debian/changelog
  contrib/gitian-descriptors/gitian-linux.yml
  doc/man/zcash-cli.1
  doc/man/zcash-tx.1
  doc/man/zcashd.1
  doc/release-notes/release-notes-3.1.0-rc1.md
  src/clientversion.h
  src/deprecation.h
Labels: release

#4604 Fix an unintended consensus change in decryption of coinbase outputs
  src/zcash/Note.hpp
Labels: bug, consensus protocol

#4594 Use ed25519-zebra from crates.io.
  .cargo/config.offline
  Cargo.lock
  Cargo.toml
  depends/packages/crate_ed25519_zebra.mk
Labels: Rust, consensus protocol, dependencies

#4616 Use SI prefixes for hash rates on the metrics screen
  src/gtest/test_metrics.cpp
  src/metrics.cpp
  src/metrics.h
Labels: metrics screen, scratching an itch

#4617 Fix the formatting of the 3.0.0 release notes
  doc/release-notes/release-notes-3.0.0.md
Labels: cleanup, scratching an itch

#4628 Pass HistoryNode through Rust FFI as a C array
  src/coins.cpp
  src/rust/include/librustzcash.h
  src/txdb.cpp
  src/zcash/History.cpp
  src/zcash/History.hpp
Labels: Windows, bug, librustzcash, portability

#4606 Send alert to put pre-Heartwood nodes into safe mode.
  src/sendalert.cpp
Labels: alert system, network upgrade management

#4623 metrics: Collect general stats before clearing screen
  src/metrics.cpp
Labels: metrics screen

#4584 Block release when we haven't checked dependency updates for security fixes
  doc/release-process.md
  qa/zcash/postponed-updates.txt
  qa/zcash/updatecheck.py
  zcutil/make-release.py
Labels: SECURITY, dependencies, release

#4627 flush witness cache (SetBestChain()) on clean shutdown
  qa/rpc-tests/wallet_anchorfork.py
  src/init.cpp
Labels: Wallet Database

#4614 Replace OpenSSL AES with ctaes-based version
  contrib/debian/copyright
  src/Makefile.am
  src/Makefile.gtest.include
  src/Makefile.test.include
  src/crypto/aes.cpp
  src/crypto/aes.h
  src/crypto/ctaes/COPYING
  src/crypto/ctaes/README.md
  src/crypto/ctaes/bench.c
  src/crypto/ctaes/ctaes.c
  src/crypto/ctaes/ctaes.h
  src/crypto/ctaes/test.c
  src/test/crypto_tests.cpp
  src/wallet/crypter.cpp
  src/wallet/crypter.h
  src/wallet/test/crypto_tests.cpp
Labels: Bitcoin Core codebase, Death By A Thousand Cuts, crypto, surprise yak, wallet

#4583 Check for config options that may be duplicated in the config file
  src/util.cpp
Labels: usability

#4588 Remove AMQP code and Proton library dependencies & flags
  configure.ac
  contrib/amqp/amqp_sub.py
  contrib/ci-builders/bbworker-requirements.txt
  contrib/debian/copyright
  contrib/gitian-descriptors/gitian-linux.yml
  depends/Makefile
  depends/packages/packages.mk
  depends/packages/proton.mk
  depends/patches/proton/minimal-build.patch
  doc/amqp.md
  qa/pull-tester/rpc-tests.sh
  qa/pull-tester/tests-config.sh.in
  qa/rpc-tests/proton_test.py
  qa/zcash/updatecheck.py
  src/Makefile.am
  src/Makefile.gtest.include
  src/Makefile.test.include
  src/amqp/amqpabstractnotifier.cpp
  src/amqp/amqpabstractnotifier.h
  src/amqp/amqpconfig.h
  src/amqp/amqpnotificationinterface.cpp
  src/amqp/amqpnotificationinterface.h
  src/amqp/amqppublishnotifier.cpp
  src/amqp/amqppublishnotifier.h
  src/amqp/amqpsender.h
  src/init.cpp
  zcutil/build.sh
Labels: cleanup
