Repository zcash/zcash, pull requests merged in 2020-06, with the labels that each got.

#4552 Initialize size_t in CTxMemPool::DynamicMemoryUsage before using it
  src/txmempool.cpp
Labels: bug, macOS, portability

#4545 metrics: Add a progress bar when in Initial Block Download mode
  src/metrics.cpp
Labels: metrics screen, scratching an itch, user interface

#4282 Add a flag to get amount results as integer
  qa/rpc-tests/listtransactions.py
  qa/rpc-tests/receivedby.py
  qa/rpc-tests/wallet.py
  qa/rpc-tests/wallet_listreceived.py
  src/amount.cpp
  src/amount.h
  src/rpc/client.cpp
  src/wallet/rpcwallet.cpp
Labels: RPC interface, simplification

#4322 Add -debuglogfile option
  doc/release-notes.md
  qa/pull-tester/rpc-tests.sh
  qa/rpc-tests/feature_logging.py
  src/init.cpp
  src/util.cpp
  src/util.h
Labels: logging

#3913 Automated smoke tests
  qa/zcash/smoke_tests.py
Labels: Bitcoin Core codebase, testing

#4582 Remove an unused CCriticalSection.
  src/zcash/JoinSplit.cpp
Labels: scratching an itch
