Repository zcash/zcash, pull requests merged in 2020-03, with the labels that each got.

#4265 util: CBufferedFile fixes
  src/Makefile.test.include
  src/streams.h
  src/test/streams_tests.cpp
Labels: bug, scratching an itch

#4256 [NU3 Heartwood] Shielded Coinbase
  qa/pull-tester/rpc-tests.sh
  qa/rpc-tests/mining_shielded_coinbase.py
  src/gtest/test_checktransaction.cpp
  src/gtest/test_miner.cpp
  src/gtest/test_transaction_builder.cpp
  src/init.cpp
  src/main.cpp
  src/main.h
  src/miner.cpp
  src/miner.h
  src/net.cpp
  src/rpc/mining.cpp
  src/test/miner_tests.cpp
  src/test/test_bitcoin.cpp
  src/test/transaction_tests.cpp
  src/transaction_builder.cpp
  src/transaction_builder.h
  src/utiltest.cpp
  src/utiltest.h
  src/validationinterface.cpp
  src/validationinterface.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: Network Upgrade Required, PoW and mining, committed, consensus protocol

#4374 Remove time adjustment; instead warn if peer clocks are too different
  doc/release-notes.md
  src/Makefile.gtest.include
  src/Makefile.test.include
  src/addrman.cpp
  src/addrman.h
  src/alert.cpp
  src/chain.h
  src/gtest/test_timedata.cpp
  src/init.cpp
  src/main.cpp
  src/mempool_limit.cpp
  src/metrics.cpp
  src/miner.cpp
  src/net.cpp
  src/rpc/misc.cpp
  src/rpc/net.cpp
  src/test/addrman_tests.cpp
  src/test/timedata_tests.cpp
  src/timedata.cpp
  src/timedata.h
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
Labels: cleanup, simplification, tech_debt

#4359 Upgrade libsodium to 1.0.18
  depends/packages/libsodium.mk
  depends/patches/libsodium/1.0.15-pubkey-validation.diff
  depends/patches/libsodium/1.0.15-signature-validation.diff
  src/Makefile.gtest.include
  src/gtest/test_consensus.cpp
Labels: consensus protocol, dependencies

#4293 Refactor experimental feature handling
  src/Makefile.am
  src/experimental_features.cpp
  src/experimental_features.h
  src/init.cpp
  src/main.cpp
  src/main.h
  src/rpc/blockchain.cpp
  src/rpc/misc.cpp
  src/test/rpc_tests.cpp
  src/wallet/asyncrpcoperation_mergetoaddress.cpp
  src/wallet/asyncrpcoperation_sendmany.cpp
  src/wallet/asyncrpcoperation_shieldcoinbase.cpp
  src/wallet/rpcdisclosure.cpp
  src/wallet/rpcwallet.cpp
Labels: RPC interface, cleanup, scratching an itch

#4343 Add expired transaction notifications
  src/init.cpp
  src/main.cpp
  src/txmempool.cpp
  src/txmempool.h
  src/ui_interface.h
Labels: Mempool, scratching an itch, usability

#4368 Shows reindex progress in metrics screen
  src/init.cpp
  src/main.cpp
  src/metrics.cpp
  src/metrics.h
Labels: metrics screen

#4396 Fix typos/minor error in comments, and wrap some lines
  src/chainparams.cpp
  src/main.cpp
Labels: cleanup

#4398 Update RPCs to support cross platform testing
  qa/rpc-tests/test_framework/blockstore.py
  qa/rpc-tests/test_framework/netutil.py
  qa/rpc-tests/test_framework/util.py
Labels: ARM, Windows, dev infrastructure, macOS

#4401 depends: Hard-code Rust target for all Darwin hosts
  depends/Makefile
  depends/packages/rust.mk
Labels: Rust, dependencies, macOS

#4404 Avoid a theoretical possibility of division-by-zero introduced in #4368
  src/init.cpp
Labels: bug, scratching an itch

#4407 Update updatecheck.py with the new Rust dependencies
  qa/zcash/updatecheck.py
Labels: dependencies, testing

#4365 Replace tuples by classes in asyncoperation_sendmany
  src/wallet/asyncrpcoperation_sendmany.cpp
  src/wallet/asyncrpcoperation_sendmany.h
  src/wallet/rpcwallet.cpp
Labels: cleanup

#4370 Add support for Sapling full viewing keys
  qa/rpc-tests/wallet_persistence.py
  qa/rpc-tests/wallet_sapling.py
  src/chainparams.cpp
  src/chainparams.h
  src/gtest/test_keys.cpp
  src/key_io.cpp
  src/keystore.cpp
  src/wallet/crypter.cpp
  src/wallet/rpcdump.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
  src/zcash/Address.hpp
Labels: RPC interface, Sapling, wallet
