Repository zcash/zcash, pull requests merged in 2020-05, with the labels that each got.

#4482 memory_cleanse backports
  src/bench/base58.cpp
  src/bench/checkqueue.cpp
  src/compat.h
  src/support/cleanse.cpp
  src/support/cleanse.h
  src/wallet/db.h
Labels: Bitcoin Core codebase, SECURITY, cleanup, scratching an itch

#4487 Add NU4 to upgrade list
  qa/rpc-tests/test_framework/mininode.py
  src/chainparams.cpp
  src/consensus/params.h
  src/consensus/upgrades.cpp
  src/utiltest.cpp
  src/utiltest.h
Labels: network upgrade management

#4444 Fix advertised version
  src/main.cpp
  src/test/util_tests.cpp
  src/utilstrencodings.cpp
  src/utilstrencodings.h
Labels: RPC interface, usability

#4304 Add status to transactions in RPC calls
  src/wallet/rpcwallet.cpp
  src/wallet/test/rpc_wallet_tests.cpp
Labels: RPC interface

#4508 Remove unused fHelp parameters from internal functions
  src/wallet/rpcdump.cpp
Labels: RPC interface, cleanup

#4486 Fix undefined behavior in gtest tests
  src/primitives/transaction.cpp
  src/primitives/transaction.h
  src/transaction_builder.cpp
  src/utiltest.cpp
  src/wallet/asyncrpcoperation_mergetoaddress.cpp
  src/wallet/asyncrpcoperation_sendmany.cpp
  src/wallet/asyncrpcoperation_shieldcoinbase.cpp
  src/wallet/gtest/test_wallet.cpp
  src/wallet/rpcdisclosure.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
Labels: bug, testing

#4242 Add estimatedheight to rpc getblockchaininfo response
  qa/rpc-tests/wallet.py
  src/rpc/blockchain.cpp
Labels: RPC interface, chain sync

#4488 Add options and help to AFL scripts
  zcutil/afl/afl-build.sh
  zcutil/afl/afl-get.sh
  zcutil/afl/afl-getbuildrun.sh
  zcutil/afl/afl-run.sh
Labels: documentation

#3936 Report headers download
  src/main.cpp
  src/metrics.cpp
Labels: community contribution, metrics screen

#4546 Rename NU4 to Canopy in constant and function names
  qa/rpc-tests/post_heartwood_rollback.py
  qa/rpc-tests/test_framework/util.py
  qa/rpc-tests/upgrade_golden.py
  src/chainparams.cpp
  src/consensus/params.h
  src/consensus/upgrades.cpp
  src/utiltest.cpp
  src/utiltest.h
Labels: scratching an itch
