Repository zcash/zcash, pull requests merged in 2021-06, with the labels that each got.

#5204 build: Set minimum required Windows version to Windows 7
  configure.ac
  depends/packages/libevent.mk
  depends/patches/libevent/0001-fix-windows-getaddrinfo.patch
  doc/release-notes.md
  src/Makefile.leveldb.include
  src/compat.h
  src/init.cpp
  src/net.cpp
  src/netbase.cpp
  src/support/lockedpool.cpp
  src/util.cpp
Labels: A-build, O-windows

#5154 CI Builder Updates & Refactors
  contrib/ci-builders/buildbot/Dockerfile-bbworker.apt
  contrib/ci-builders/buildbot/Dockerfile-bbworker.arch
  contrib/ci-builders/buildbot/Dockerfile-bbworker.centos8
  contrib/ci-builders/buildbot/Dockerfile-build-python.apt
  contrib/ci-builders/buildbot/Dockerfile-build.apt
  contrib/ci-builders/buildbot/Dockerfile-build.arch
  contrib/ci-builders/buildbot/Dockerfile-build.centos8
  contrib/ci-builders/buildbot/Dockerfile-gitian.apt
  contrib/ci-builders/buildbot/README.md
  contrib/ci-builders/buildbot/apt-package-list.txt
  contrib/ci-builders/buildbot/bbworker-buildbot.tac
  contrib/ci-builders/buildbot/bbworker-requirements.txt
  contrib/ci-builders/buildbot/docker-build.sh
  contrib/ci-builders/tekton/Dockerfile-build.apt
  contrib/ci-builders/tekton/Dockerfile-build.arch
  contrib/ci-builders/tekton/Dockerfile-build.centos8
  contrib/ci-builders/tekton/Dockerfile-tekton-worker
  contrib/ci-builders/tekton/README.md
  contrib/ci-builders/tekton/apt-package-tekton-list.txt
  contrib/ci-builders/tekton/docker-build.sh
  contrib/ci-builders/tekton/requirements.txt
Labels: A-CI, dev infrastructure, safe-to-build

#5192 when rewinding, set pindexBestHeader to the highest-work block index
  src/main.cpp
Labels: A-chain-sync, I-performance, safe-to-build

#5208 Postpone dependency updates until after 4.4.1
  qa/zcash/postponed-updates.txt
Labels: A-dependencies, release

#5209 Release v4.4.1-rc1
  README.md
  configure.ac
  contrib/debian/changelog
  contrib/gitian-descriptors/gitian-linux.yml
  doc/man/zcash-cli.1
  doc/man/zcash-tx.1
  doc/man/zcashd.1
  doc/release-notes/release-notes-4.4.1-rc1.md
  src/clientversion.h
  src/deprecation.h
Labels: release

#5212 Release v4.4.1
  README.md
  configure.ac
  contrib/debian/changelog
  contrib/gitian-descriptors/gitian-linux.yml
  doc/authors.md
  doc/man/zcash-cli.1
  doc/man/zcash-tx.1
  doc/man/zcashd.1
  doc/release-notes.md
  doc/release-notes/release-notes-4.4.1.md
  src/clientversion.h
  src/deprecation.h
Labels: release

#5213 Implement ZIP 216 consensus rules
  Cargo.lock
  Cargo.toml
  src/bench/verification.cpp
  src/main.cpp
  src/rust/include/librustzcash.h
  src/rust/src/rustzcash.rs
  src/rust/src/tests/key_agreement.rs
  src/rust/src/tests/notes.rs
  src/wallet/wallet.cpp
  src/zcash/Note.cpp
  src/zcash/Note.hpp
  src/zcash/NoteEncryption.cpp
  src/zcash/NoteEncryption.hpp
  src/zcbenchmarks.cpp
Labels: A-consensus, NU5

#5214 Add `data()` method to `CDataStream`
  src/dbwrapper.h
  src/streams.h
  src/wallet/db.cpp
  src/wallet/db.h
Labels: C-upstream-port

#5202 v5 transaction format
  Cargo.lock
  Cargo.toml
  contrib/debian/copyright
  src/Makefile.test.include
  src/consensus/consensus.h
  src/primitives/transaction.cpp
  src/primitives/transaction.h
  src/rust/include/rust/orchard.h
  src/rust/include/rust/streams.h
  src/rust/src/orchard_ffi.rs
  src/rust/src/rustzcash.rs
  src/rust/src/streams_ffi.rs
  src/streams.h
  src/test/data/zip0244.json
  src/test/transaction_tests.cpp
Labels: A-rust-ffi, NU5, safe-to-build

#5215 ZIP 244 transaction and signature digests
  doc/book/src/design/coins-view.md
  src/gtest/test_checkblock.cpp
  src/gtest/test_checktransaction.cpp
  src/gtest/test_mempool.cpp
  src/primitives/block.cpp
  src/primitives/block.h
  src/primitives/transaction.cpp
  src/primitives/transaction.h
  src/rust/include/rust/test_harness.h
  src/rust/include/rust/transaction.h
  src/rust/src/rustzcash.rs
  src/rust/src/test_harness_ffi.rs
  src/rust/src/transaction_ffi.rs
  src/script/interpreter.cpp
  src/script/interpreter.h
  src/test/data/sighash.json
  src/test/multisig_tests.cpp
  src/test/script_P2SH_tests.cpp
  src/test/sighash_tests.cpp
  src/test/transaction_tests.cpp
  src/wallet/gtest/test_wallet.cpp
Labels: A-consensus, A-rust-ffi, NU5

#5216 CI book fixes
  .github/workflows/book.yml
Labels: A-CI, A-documentation

#5217 Implement Orchard signature validation consensus rules
  Cargo.lock
  Cargo.toml
  src/gtest/test_checkblock.cpp
  src/main.cpp
  src/main.h
  src/primitives/transaction.h
  src/rust/include/rust/orchard.h
  src/rust/src/orchard_ffi.rs
  src/test/checkblock_tests.cpp
  src/test/transaction_tests.cpp
  src/wallet/walletdb.cpp
Labels: A-consensus, A-rust-ffi, NU5

#5167 Re-include reading blocks from disk in block connection benchmark
  src/main.cpp
Labels: A-benchmarks, A-logging, safe-to-build

#5222 Remove non-determinism which is breaking net_tests
  src/test/net_tests.cpp
Labels: A-testing, C-bug, C-upstream-port

#5221 book: Add dev guide page about Rust dependencies
  doc/book/src/SUMMARY.md
  doc/book/src/dev.md
  doc/book/src/dev/rust.md
Labels: A-build, A-dependencies, A-documentation, L-rust

#5220 NU5 header commitments and consensus rules
  qa/pull-tester/rpc-tests.py
  qa/rpc-tests/feature_zip244_blockcommitments.py
  qa/rpc-tests/test_framework/blocktools.py
  src/chain.h
  src/main.cpp
  src/main.h
  src/miner.cpp
  src/miner.h
  src/primitives/block.cpp
  src/primitives/block.h
  src/primitives/transaction.cpp
  src/rpc/blockchain.cpp
  src/rpc/mining.cpp
  src/test/miner_tests.cpp
  src/test/test_bitcoin.cpp
  src/txdb.cpp
Labels: A-consensus, NU5

#5227 Integrate V2 history tree
  Cargo.lock
  Cargo.toml
  qa/rpc-tests/feature_zip221.py
  qa/rpc-tests/test_framework/flyclient.py
  src/gtest/test_history.cpp
  src/main.cpp
  src/primitives/orchard.h
  src/rpc/blockchain.cpp
  src/rust/include/librustzcash.h
  src/rust/include/rust/history.h
  src/rust/src/history_ffi.rs
  src/rust/src/rustzcash.rs
  src/rust/src/tests/mmr.rs
  src/txdb.cpp
  src/zcash/History.cpp
  src/zcash/History.hpp
Labels: A-consensus, A-rust-ffi, NU5

#5228 Orchard pool tracking
  src/chain.h
  src/main.cpp
  src/miner.cpp
  src/primitives/orchard.h
  src/rpc/blockchain.cpp
  src/rust/include/rust/orchard.h
  src/rust/src/orchard_ffi.rs
  src/txdb.cpp
Labels: A-consensus, NU5

#5232 Check Orchard bundle-specific consensus rules, i.e. proofs
  Cargo.lock
  Cargo.toml
  src/init.cpp
  src/main.cpp
  src/primitives/orchard.h
  src/rust/include/rust/orchard.h
  src/rust/src/orchard_ffi.rs
  src/rust/src/rustzcash.rs
Labels: A-consensus, A-halo, A-orchard, A-rust-ffi, L-rust, NU5

#5233 Implement Orchard commitment tree logic.
  Cargo.lock
  Cargo.toml
  src/coins.cpp
  src/coins.h
  src/gtest/test_merkletree.cpp
  src/main.cpp
  src/primitives/orchard.h
  src/rust/include/rust/orchard.h
  src/rust/include/rust/orchard/incremental_sinsemilla_tree.h
  src/rust/src/orchard_ffi.rs
  src/rust/src/orchard_ffi/incremental_sinsemilla_tree_ffi.rs
  src/rust/src/rustzcash.rs
  src/test/coins_tests.cpp
  src/test/data/merkle_roots_orchard.h
  src/txdb.cpp
  src/txdb.h
  src/txmempool.cpp
  src/txmempool.h
  src/zcash/IncrementalMerkleTree.hpp
  src/zcash/Zcash.h
Labels: A-consensus, A-orchard, A-rust-ffi, L-rust, NU5

#5235 Include Orchard bundle in transaction dynamic usage
  src/core_memusage.h
  src/primitives/orchard.h
  src/rust/include/rust/orchard.h
  src/rust/src/orchard_ffi.rs
Labels: memory management
