Repository zcash/zcash, pull requests merged in 2021-10, with the labels that each got.

#5309 Add network information to persisted wallet state.
  src/init.cpp
  src/wallet/gtest/test_wallet.cpp
  src/wallet/gtest/test_wallet_zkeys.cpp
  src/wallet/test/wallet_test_fixture.cpp
  src/wallet/test/wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
  src/zcbenchmarks.cpp
Labels: A-wallet, A-wallet-database

#5346 Remove unused `AddDestData` method.
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: A-wallet, C-cleanup

#5343 Add `listaddresses` RPC method.
  doc/release-notes.md
  qa/rpc-tests/wallet_addresses.py
  src/wallet/rpcwallet.cpp
  src/wallet/test/rpc_wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/zcash/address/zip32.cpp
  src/zcash/address/zip32.h
Labels: A-wallet, A-rpc-interface, safe-to-build

#5339 Update reduce-traffic.md - add one word
  doc/reduce-traffic.md
Labels: safe-to-build

#5342 better wallet network info error handling
  src/wallet/gtest/test_wallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
Labels: A-wallet, A-wallet-database, S-committed
