Repository zcash/zcash, pull requests merged in 2022-08, with the labels that each got.

#6071 Migrate to LLVM 14
  .github/workflows/lints.yml
  Cargo.toml
  contrib/devtools/update-clang-hashes.sh
  depends/packages/libcxx.mk
  depends/packages/native_clang.mk
  depends/packages/native_rust.mk
  qa/zcash/postponed-updates.txt
  rust-toolchain
Labels: A-build, A-dependencies

#6112 depends: Update Rust to 1.63.0
  .github/workflows/lints.yml
  Cargo.toml
  depends/packages/native_rust.mk
  rust-toolchain
Labels: A-dependencies, L-rust

#6116 rust: Update some of the pinned dependencies
  .github/workflows/audits.yml
  Cargo.lock
  qa/supply-chain/audits.toml
  qa/supply-chain/config.toml
Labels: A-dependencies, L-rust

#6125 Update `z_sendmany` help to clarify what happens when sending from a UA
  src/wallet/rpcwallet.cpp
Labels: A-documentation, A-rpc-interface

#6127 Fix shell lints
  .github/workflows/lints.yml
  contrib/devtools/gen-manpages.sh
  contrib/devtools/update-clang-hashes.sh
  contrib/devtools/update-rust-hashes.sh
  test/lint/lint-cargo-patches.sh
  zcutil/afl/afl-build.sh
  zcutil/afl/afl-get.sh
  zcutil/afl/afl-getbuildrun.sh
  zcutil/afl/afl-run.sh
  zcutil/build.sh
  zcutil/cleanup-tags.sh
  zcutil/fetch-params.sh
  zcutil/libfuzzer/libfuzzer-build.sh
Labels: C-cleanup, A-CI

#6129 Backport shell lint changes
  .github/workflows/lints.yml
  autogen.sh
  contrib/docker/entrypoint.sh
  contrib/gitian-descriptors/gitian-linux.yml
  contrib/gitian-descriptors/gitian-osx-signer.yml
  contrib/gitian-descriptors/gitian-osx.yml
  contrib/gitian-descriptors/gitian-win-signer.yml
  contrib/gitian-descriptors/gitian-win.yml
  contrib/qos/README.md
  contrib/qos/tc.sh
  contrib/tidy_datadir.sh
  share/genbuild.sh
  src/clientversion.cpp
  src/clientversion.h
  src/init.cpp
  src/wallet/rpcdump.cpp
  test/lint/lint-cargo-patches.sh
  test/lint/lint-shell.sh
  zcutil/afl/afl-build.sh
  zcutil/afl/afl-get.sh
  zcutil/build-debian-package.sh
Labels: A-build, C-upstream-port, C-cleanup

#5617 rust: Add `zcash-inspect` binary for inspecting Zcash data
  .gitignore
  Cargo.lock
  Cargo.toml
  qa/supply-chain/config.toml
  src/Makefile.am
  src/rust/bin/inspect/address.rs
  src/rust/bin/inspect/block.rs
  src/rust/bin/inspect/context.rs
  src/rust/bin/inspect/keys.rs
  src/rust/bin/inspect/main.rs
  src/rust/bin/inspect/transaction.rs
  zcutil/clean.sh
Labels: L-rust, A-parsing

#6131 Include algorithm.h in cuckoocache.h
  src/cuckoocache.h
Labels: A-lib-script

#6141 build: Build Rust library and binaries at the same time
  src/Makefile.am
Labels: I-performance, A-build, L-rust

#6140 Replace manual mangement of the Sapling proving context with cxx
  src/gtest/test_checktransaction.cpp
  src/miner.cpp
  src/rust/include/librustzcash.h
  src/rust/src/rustzcash.rs
  src/rust/src/sapling.rs
  src/transaction_builder.cpp
  src/transaction_builder.h
  src/zcbenchmarks.cpp
Labels: A-wallet, C-cleanup, A-pow, memory management, L-rust, A-rust-ffi
