Repository zcash/zcash, pull requests merged in 2022-03, with the labels that each got.

#5594 Fix csBestBlock/cvBlockChange waiting in rpc/mining
  src/init.cpp
  src/main.cpp
  src/main.h
  src/rpc/mining.cpp
Labels: A-pow, A-rpc-interface, thread safety

#5608 Migrate to `orchard` crate revision with circuit changes
  .cargo/config.offline
  Cargo.lock
  Cargo.toml
Labels: A-consensus, A-circuit, A-dependencies, L-rust, NU5, A-orchard

#5612 Recover orchard keys and mappings during wallet load
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
Labels: A-wallet, A-wallet-database, safe-to-build, A-orchard

#5623 Fix for chain forks on NU5 testnet
  src/coins.cpp
  src/main.cpp
Labels: C-bug, I-SECURITY, A-consensus, NU5, A-orchard

#5624 Test and fix for chain forks on NU5 testnet
  qa/pull-tester/rpc-tests.py
  qa/rpc-tests/orchard_reorg.py
  src/coins.cpp
  src/init.cpp
  src/main.cpp
  src/main.h
  src/rpc/mining.cpp
Labels: C-bug, I-SECURITY, A-consensus, NU5, A-orchard

#5621 Add a roundtrip test for Orchard merkle frontier serialization from the C++ side.
  src/gtest/test_merkletree.cpp
Labels: safe-to-build

#5622 Log outpoint for failed Sapling witness lookup.
  src/wallet/asyncrpcoperation_sendmany.cpp
Labels: safe-to-build

#5581 Log calls to getblocktemplate
  src/rpc/server.cpp
Labels: A-pow, A-rpc-interface, A-logging

#5629 Respect minDepth argument for Orchard notes in GetFilteredNotes
  qa/rpc-tests/wallet_accounts.py
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
Labels: A-wallet, A-rpc-interface, A-orchard

#5609 Bump dependencies ahead of 4.7.0-rc1
  .github/workflows/lints.yml
  Cargo.lock
  Cargo.toml
  depends/packages/libcxx.mk
  depends/packages/native_clang.mk
  depends/packages/native_rust.mk
  qa/zcash/postponed-updates.txt
  rust-toolchain
  src/rust/src/rustzcash.rs
Labels: A-dependencies, safe-to-build

#5592 fix ordering issues with gtests: WalletZkeysTest, ContextualCheckBlockTest, CheckBlock, Metrics.GetLocalSolPS
  src/gtest/test_checkblock.cpp
  src/gtest/test_metrics.cpp
  src/metrics.cpp
  src/metrics.h
  src/wallet/gtest/test_wallet_zkeys.cpp
Labels: safe-to-build

#5601 Select Orchard receivers from UA miner addresses once NU5 activates
  qa/rpc-tests/mining_shielded_coinbase.py
  src/init.cpp
  src/miner.cpp
  src/miner.h
  src/rpc/mining.cpp
  src/validationinterface.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: A-pow, A-rpc-interface, A-orchard

#5637 Implement Orchard note persistence & restore.
  qa/rpc-tests/wallet_orchard.py
  src/rust/include/rust/orchard/wallet.h
  src/rust/src/wallet.rs
  src/wallet/orchard.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/zcash/address/orchard.cpp
  src/zcash/address/orchard.hpp
Labels: A-wallet, NU5, A-orchard

#5636 only load the proof parameters in gtests for tests that need them
  src/gtest/main.cpp
  src/gtest/test_checktransaction.cpp
  src/gtest/test_dynamicusage.cpp
  src/gtest/test_joinsplit.cpp
  src/gtest/test_mempoollimit.cpp
  src/gtest/test_transaction_builder.cpp
  src/rust/src/rustzcash.rs
  src/utiltest.cpp
  src/utiltest.h
  src/wallet/gtest/test_wallet.cpp
Labels: safe-to-build

#5658 Add Orchard sender support to the transaction builder
  src/Makefile.am
  src/miner.cpp
  src/rust/include/rust/builder.h
  src/rust/include/rust/orchard/keys.h
  src/rust/include/rust/orchard/wallet.h
  src/rust/src/builder_ffi.rs
  src/rust/src/orchard_keys_ffi.rs
  src/rust/src/wallet.rs
  src/test/coins_tests.cpp
  src/transaction_builder.cpp
  src/transaction_builder.h
  src/wallet/gtest/test_orchard_wallet.cpp
  src/wallet/orchard.cpp
  src/wallet/orchard.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/zcash/address/orchard.cpp
  src/zcash/address/orchard.hpp
Labels: A-wallet, A-orchard

#5641 Restore Orchard spentness cache in LoadCaches
  qa/rpc-tests/orchard_reorg.py
  qa/rpc-tests/test_framework/test_framework.py
  qa/rpc-tests/wallet_orchard.py
  src/rust/include/rust/orchard/wallet.h
  src/rust/src/wallet.rs
  src/wallet/gtest/test_orchard_wallet.cpp
  src/wallet/orchard.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: A-wallet, safe-to-build, A-orchard

#5600 remove superfluous space at end of native_packages that i introduced in #5576
  depends/packages/packages.mk
Labels: safe-to-build

#5578 comment explaining the 0x0f0f[..]0f0f powLimit constant for regtest
  src/chainparams.cpp
Labels: safe-to-build

#5662 Derive the mnemonic seed from the legacy HD seed, if one is available.
  src/wallet/wallet.cpp
  src/zcash/address/mnemonic.cpp
  src/zcash/address/mnemonic.h
Labels: A-wallet, safe-to-build

#5574 Make a zcashd-wallet-tool executable
  .cargo/config.offline
  .gitignore
  Cargo.lock
  Cargo.toml
  Makefile.am
  contrib/devtools/security-check.py
  doc/release-notes.md
  qa/zcash/full_test_suite.py
  src/Makefile.am
  src/bitcoin-cli.cpp
  src/init.cpp
  src/rust/README.md
  src/rust/bin/wallet_tool.rs
  src/wallet/rpcwallet.cpp
  zcutil/clean.sh
Labels: A-wallet, L-rust

#5671 z_getbalance: Handle Unified Address case.
  qa/rpc-tests/wallet_accounts.py
  qa/rpc-tests/wallet_shieldcoinbase_ua_nu5.py
  qa/rpc-tests/wallet_shieldcoinbase_ua_sapling.py
  qa/rpc-tests/wallet_z_sendmany.py
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
Labels: A-wallet, A-rpc-interface

#5684 Address minor issues from #5605
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
Labels: C-cleanup, A-rpc-interface

#5665 Add support for sending Orchard funds in `z_sendmany`
  qa/rpc-tests/wallet_accounts.py
  qa/rpc-tests/wallet_orchard.py
  src/Makefile.gtest.include
  src/transaction_builder.cpp
  src/transaction_builder.h
  src/wallet/asyncrpcoperation_sendmany.cpp
  src/wallet/asyncrpcoperation_sendmany.h
  src/wallet/gtest/test_note_selection.cpp
  src/wallet/orchard.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/zcash/address/orchard.cpp
  src/zcash/address/orchard.hpp
  src/zcash/address/unified.cpp
  src/zcash/address/unified.h
Labels: A-wallet, A-rpc-interface, note selection and shielded tx construction, A-orchard

#5607 Add `zcash_script` APIs for handling v5 transactions
  src/script/zcash_script.cpp
  src/script/zcash_script.h
Labels: S-committed, NU5, A-lib-script

#5695 build: Fix `zcash/address/orchard.hpp` filename in `src/Makefile.am`
  src/Makefile.am
Labels: C-bug, A-build

#5701 build: Add missing `util/match.h` to `src/Makefile.am`
  src/Makefile.am
Labels: C-bug, A-build

#5693 z_sendmany: Replace `allowRevealedAmount` with `privacyStrategy`
  doc/release-notes.md
  qa/rpc-tests/orchard_reorg.py
  qa/rpc-tests/wallet_accounts.py
  qa/rpc-tests/wallet_listnotes.py
  qa/rpc-tests/wallet_orchard.py
  qa/rpc-tests/wallet_z_sendmany.py
  src/rpc/client.cpp
  src/wallet/asyncrpcoperation_sendmany.cpp
  src/wallet/asyncrpcoperation_sendmany.h
  src/wallet/rpcwallet.cpp
  src/wallet/test/rpc_wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: A-wallet, I-privacy, A-rpc-interface

#5438 Update copyright year to 2022
  COPYING
  configure.ac
  contrib/debian/copyright
  src/clientversion.h
Labels: safe-to-build

#5700 Add Orchard and Unified Address support to z_viewtransaction
  .cargo/config.offline
  Cargo.lock
  Cargo.toml
  qa/rpc-tests/wallet_accounts.py
  qa/rpc-tests/wallet_listreceived.py
  src/gtest/test_keys.cpp
  src/gtest/test_keystore.cpp
  src/keystore.cpp
  src/keystore.h
  src/primitives/transaction.cpp
  src/rust/include/rust/orchard/wallet.h
  src/rust/src/wallet.rs
  src/wallet/orchard.h
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/zcash/Address.hpp
  src/zcash/address/unified.cpp
  src/zcash/address/unified.h
  src/zcash/address/zip32.h
Labels: A-wallet, A-rpc-interface

#5709 Include HD keypath info in `dumpwallet` and `z_exportwallet`
  src/wallet/rpcdump.cpp
Labels: A-wallet, A-wallet-database

#5681 Update the listaddresses RPC endpoint to correctly report unified addresses
  qa/rpc-tests/wallet_addresses.py
  src/wallet/rpcwallet.cpp
  src/wallet/test/rpc_wallet_tests.cpp
  src/wallet/wallet.cpp
Labels: A-wallet, A-rpc-interface, safe-to-build, NU5

#5726 Update dependencies for 4.7.0-rc1
  Cargo.lock
  qa/zcash/updatecheck.py
Labels: A-dependencies

#5728 Release v4.7.0-rc1
  README.md
  configure.ac
  contrib/debian/changelog
  contrib/gitian-descriptors/gitian-linux.yml
  doc/man/zcash-cli.1
  doc/man/zcash-tx.1
  doc/man/zcashd.1
  doc/release-notes/release-notes-4.7.0-rc1.md
  src/clientversion.h
Labels: release

#5730 Add missing wallet/orchard.h to src/Makefile.am and gtest/test_transaction_builder.h to Makefile.gtest.include
  src/Makefile.am
  src/Makefile.gtest.include
Labels: safe-to-build

#5734 Prevent a pindex == NULL case in the ScanForWalletTransactions traversal
  src/wallet/wallet.cpp
Labels: C-bug, A-wallet, safe-to-build

#5738 zcashd-wallet-tool: warn that wallet.dat still needs to be backed up, and add man page
  contrib/devtools/gen-manpages.sh
  doc/man/zcashd-wallet-tool.1
  src/rust/bin/wallet_tool.rs
Labels: A-documentation, M-potential-loss-of-funds, A-zcashd-wallet-tool

#5742 Restore legacy default Sapling addresses to the keystore.
  src/wallet/wallet.cpp
Labels: A-wallet, I-regression

#5743 Start with an empty banlist if -reindex is set
  src/net.cpp
Labels: A-networking

#5714 Add regtest documentation to book
  doc/book/src/SUMMARY.md
  doc/book/src/dev/regtest.md
Labels: A-documentation

#5719 Rename fields in RPC results: unifiedaddress->address and type->(pool or address_type)
  qa/rpc-tests/mining_shielded_coinbase.py
  qa/rpc-tests/orchard_reorg.py
  qa/rpc-tests/remove_sprout_shielding.py
  qa/rpc-tests/wallet_accounts.py
  qa/rpc-tests/wallet_addresses.py
  qa/rpc-tests/wallet_listreceived.py
  qa/rpc-tests/wallet_orchard.py
  qa/rpc-tests/wallet_sapling.py
  qa/rpc-tests/wallet_shieldcoinbase_ua_nu5.py
  qa/rpc-tests/wallet_shieldcoinbase_ua_sapling.py
  qa/rpc-tests/wallet_z_sendmany.py
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
Labels: A-wallet, A-rpc-interface

#5745 Test Orchard shielded coinbase rules
  src/gtest/test_checktransaction.cpp
  src/zcash/Zcash.h
Labels: A-testing, A-consensus, A-orchard

#5753 Disallow testnet peers with a protocol version older than 170040
  src/main.cpp
  src/version.h
Labels: A-networking, safe-to-build

#5751 Add undocumented attributes to getinfo API help text.
  src/rpc/misc.cpp
Labels: A-documentation, A-rpc-interface

#5732 Fix handling of Orchard notes in `CWallet::GetConflicts`.
  src/rust/include/rust/orchard/wallet.h
  src/rust/src/wallet.rs
  src/wallet/gtest/test_wallet.cpp
  src/wallet/orchard.h
  src/wallet/wallet.cpp
Labels: safe-to-build

#5727 Fix typos
  src/rust/include/rust/orchard/wallet.h
  src/rust/src/wallet.rs
  src/wallet/rpcwallet.cpp
Labels: A-rpc-interface, safe-to-build

#5762 test: Fix `WalletTests.GetConflictedOrchardNotes` gtest
  src/gtest/main.cpp
  src/rust/src/transaction_ffi.rs
  src/test/test_bitcoin.cpp
  src/transaction_builder.cpp
  src/wallet/gtest/test_wallet.cpp
Labels: C-bug, A-testing

#5764 Add an RPC test for Sapling and Orchard double-spends & fix revealed bugs.
  qa/pull-tester/rpc-tests.py
  qa/rpc-tests/wallet_doublespend.py
  src/wallet/wallet.cpp
  src/wallet/walletdb.cpp
Labels: safe-to-build

#5761 Check that duplicate Orchard nullifiers within transactions are rejected
  src/gtest/data/tx-orchard-duplicate-nullifiers.h
  src/gtest/test_transaction_builder.cpp
Labels: safe-to-build

#5754 Additions and cleanups for contrib/debian/copyright
  contrib/debian/copyright
  src/rust/include/tracing.h
Labels: A-dependencies, licensing

#5759 Ensure that legacy imported addresses are properly restored to the wallet.
  qa/rpc-tests/wallet_addresses.py
  src/wallet/wallet.cpp
Labels: C-bug, A-wallet, I-regression, safe-to-build

#5779 wallet: Persist Orchard note positions with the witness tree
  qa/pull-tester/rpc-tests.py
  qa/rpc-tests/wallet_orchard_change.py
  src/rust/include/rust/orchard/wallet.h
  src/rust/src/wallet.rs
  src/wallet/orchard.h
  src/wallet/wallet.cpp
Labels: A-wallet, L-rust, A-wallet-database, A-orchard
