Repository zcash/zcash, pull requests merged in 2022-02, with the labels that each got.

#5490 allow UA as z_shieldcoinbase destination
  qa/pull-tester/rpc-tests.py
  qa/rpc-tests/wallet_shieldcoinbase.py
  qa/rpc-tests/wallet_shieldcoinbase_sapling.py
  qa/rpc-tests/wallet_shieldcoinbase_sprout.py
  qa/rpc-tests/wallet_shieldcoinbase_ua_nu5.py
  qa/rpc-tests/wallet_shieldcoinbase_ua_sapling.py
  src/rpc/client.cpp
  src/wallet/asyncrpcoperation_shieldcoinbase.cpp
  src/wallet/rpcwallet.cpp
Labels: A-rpc-interface, NU5

#5507 Update comparison test framework
  qa/rpc-tests/bip65-cltv-p2p.py
  qa/rpc-tests/bipdersig-p2p.py
  qa/rpc-tests/invalidblockrequest.py
  qa/rpc-tests/invalidtxrequest.py
  qa/rpc-tests/p2p-fullblocktest.py
  qa/rpc-tests/test_framework/comptool.py
  qa/rpc-tests/test_framework/test_framework.py
Labels: safe-to-build

#5469 Add support for unified addresses to z_sendmany
  Cargo.lock
  Cargo.toml
  qa/rpc-tests/wallet_accounts.py
  qa/rpc-tests/wallet_listreceived.py
  qa/rpc-tests/wallet_z_sendmany.py
  src/Makefile.am
  src/gtest/test_keystore.cpp
  src/gtest/test_transaction_builder.cpp
  src/gtest/test_zip32.cpp
  src/keystore.cpp
  src/keystore.h
  src/pubkey.cpp
  src/pubkey.h
  src/rust/include/librustzcash.h
  src/rust/include/rust/unified_keys.h
  src/rust/src/rustzcash.rs
  src/rust/src/unified_keys_ffi.rs
  src/transaction_builder.cpp
  src/transaction_builder.h
  src/wallet/asyncrpcoperation_common.cpp
  src/wallet/asyncrpcoperation_saplingmigration.cpp
  src/wallet/asyncrpcoperation_sendmany.cpp
  src/wallet/asyncrpcoperation_sendmany.h
  src/wallet/asyncrpcoperation_shieldcoinbase.cpp
  src/wallet/gtest/test_wallet.cpp
  src/wallet/gtest/test_wallet_zkeys.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/test/rpc_wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/zcash/Address.cpp
  src/zcash/Address.hpp
  src/zcash/address/bip44.cpp
  src/zcash/address/bip44.h
  src/zcash/address/mnemonic.cpp
  src/zcash/address/sapling.hpp
  src/zcash/address/transparent.cpp
  src/zcash/address/transparent.h
  src/zcash/address/unified.cpp
  src/zcash/address/unified.h
  src/zcash/address/zip32.cpp
  src/zcash/address/zip32.h
Labels: A-wallet, A-rpc-interface, safe-to-build, NU5

#5516 Fix minconf parsing for z_getbalanceforaccount and z_getbalanceforaddress
  src/rpc/client.cpp
Labels: A-wallet, A-rpc-interface

#5521 Fix locking in z_getbalanceforaddress and z_getbalanceforaccount
  src/wallet/rpcwallet.cpp
Labels: A-wallet, A-chain-sync, I-race

#5517 contrib/devtools/rust-deps-graph.sh: allow overriding the arguments to cargo deps
  contrib/devtools/rust-deps-graph.sh
Labels: safe-to-build

#5522 Replace z_getbalanceforaddress with z_getbalanceforviewingkey
  doc/release-notes.md
  qa/rpc-tests/wallet_accounts.py
  qa/rpc-tests/wallet_z_sendmany.py
  src/init.cpp
  src/keystore.cpp
  src/keystore.h
  src/wallet/asyncrpcoperation_sendmany.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/test/rpc_wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/zcash/Address.hpp
  src/zcash/address/unified.cpp
  src/zcash/address/unified.h
  src/zcash/address/zip32.h
Labels: A-wallet, A-rpc-interface, safe-to-build

#5526 Handle wallet Unified Addresses in RPCs
  qa/rpc-tests/wallet_listnotes.py
  qa/rpc-tests/wallet_shieldcoinbase_ua_nu5.py
  qa/rpc-tests/wallet_shieldcoinbase_ua_sapling.py
  qa/rpc-tests/wallet_shieldingcoinbase.py
  src/wallet/rpcwallet.cpp
Labels: A-wallet, A-rpc-interface

#5525 Add unified address support to PaymentAddressBelongsToWallet and GetSourceForPaymentAddress
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: A-wallet

#5531 Only use legacy transparent keypool for internal keys
  qa/rpc-tests/keypool.py
  qa/rpc-tests/walletbackup.py
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.h
Labels: A-wallet, A-wallet-database, safe-to-build

#5323 Update base image used by Dockerfile from debian 10 to debian 11
  contrib/docker/Dockerfile
Labels: safe-to-build

#5542 fix wallet_listreceived.py, add blockdata to taddr output
  qa/rpc-tests/wallet_listreceived.py
  src/wallet/rpcwallet.cpp
Labels: A-wallet, A-rpc-interface

#5544 Add Orchard recipient support to the transaction builder
  .cargo/config.offline
  Cargo.lock
  Cargo.toml
  src/gtest/test_dynamicusage.cpp
  src/gtest/test_mempoollimit.cpp
  src/gtest/test_transaction_builder.cpp
  src/gtest/test_validation.cpp
  src/primitives/orchard.h
  src/rust/include/rust/builder.h
  src/rust/include/rust/orchard.h
  src/rust/src/builder_ffi.rs
  src/rust/src/rustzcash.rs
  src/rust/src/transaction_ffi.rs
  src/transaction_builder.cpp
  src/transaction_builder.h
  src/utiltest.cpp
  src/wallet/asyncrpcoperation_mergetoaddress.cpp
  src/wallet/asyncrpcoperation_saplingmigration.cpp
  src/wallet/asyncrpcoperation_sendmany.cpp
  src/wallet/asyncrpcoperation_shieldcoinbase.cpp
  src/wallet/gtest/test_wallet.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/test/rpc_wallet_tests.cpp
  src/zcash/address/orchard.hpp
Labels: A-wallet, NU5

#5545 z_listreceivedbyaddress: reject UA component addr (#5537)
  qa/rpc-tests/wallet_listreceived.py
  src/wallet/rpcwallet.cpp
Labels: A-wallet, A-rpc-interface

#5552 Add Rust backend for the Orchard components of the zcashd wallet.
  .cargo/config.offline
  Cargo.lock
  Cargo.toml
  src/Makefile.gtest.include
  src/gtest/test_transaction_builder.cpp
  src/gtest/test_transaction_builder.h
  src/primitives/orchard.h
  src/primitives/transaction.h
  src/rust/include/rust/orchard/incremental_merkle_tree.h
  src/rust/include/rust/orchard/keys.h
  src/rust/include/rust/orchard/wallet.h
  src/rust/src/incremental_merkle_tree_ffi.rs
  src/rust/src/orchard_keys_ffi.rs
  src/rust/src/rustzcash.rs
  src/rust/src/wallet.rs
  src/rust/src/zcashd_orchard.rs
  src/wallet/asyncrpcoperation_saplingmigration.cpp
  src/wallet/gtest/test_orchard_wallet.cpp
  src/wallet/gtest/test_wallet.cpp
  src/wallet/orchard.h
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/zcash/address/orchard.hpp
Labels: A-wallet, NU5

#5569 Integrate Orchard into Unified Address types
  .cargo/config.offline
  Cargo.lock
  Cargo.toml
  src/gtest/test_keys.cpp
  src/gtest/test_keystore.cpp
  src/key_io.cpp
  src/keystore.cpp
  src/keystore.h
  src/rust/include/rust/address.h
  src/rust/include/rust/orchard/keys.h
  src/rust/include/rust/unified_keys.h
  src/rust/src/address_ffi.rs
  src/rust/src/orchard_keys_ffi.rs
  src/rust/src/unified_keys_ffi.rs
  src/wallet/asyncrpcoperation_sendmany.cpp
  src/wallet/gtest/test_orchard_zkeys.cpp
  src/wallet/gtest/test_wallet.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/zcash/Address.cpp
  src/zcash/Address.hpp
  src/zcash/address/orchard.cpp
  src/zcash/address/orchard.hpp
  src/zcash/address/unified.cpp
  src/zcash/address/unified.h
  src/zcash/address/zip32.cpp
Labels: A-wallet, A-orchard

#5580 Update transaction size estimation to include V5 transactions
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/zcash/Zcash.h
Labels: A-wallet, A-rpc-interface

#5586 Add Orchard to default UA receiver types
  qa/rpc-tests/wallet_accounts.py
  qa/rpc-tests/wallet_listreceived.py
  src/gtest/test_keystore.cpp
  src/rust/src/wallet.rs
  src/wallet/gtest/test_wallet.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/zcash/address/orchard.cpp
  src/zcash/address/unified.cpp
Labels: A-wallet, A-rpc-interface, NU5, A-orchard

#5576 fix breakage on Arch by using Debian libtinfo5_6.0 to satisfy clang
  depends/packages/native_clang.mk
  depends/packages/native_libtinfo.mk
  depends/packages/packages.mk
Labels: safe-to-build

#5496 ZIP 244 updates
  .cargo/config.offline
  Cargo.lock
  Cargo.toml
  src/Makefile.gtest.include
  src/bench/verification.cpp
  src/bitcoin-tx.cpp
  src/gtest/test_checkblock.cpp
  src/gtest/test_checktransaction.cpp
  src/gtest/test_sighash.cpp
  src/gtest/test_validation.cpp
  src/main.cpp
  src/main.h
  src/miner.cpp
  src/rpc/rawtransaction.cpp
  src/rust/include/rust/transaction.h
  src/rust/src/transaction_ffi.rs
  src/script/interpreter.cpp
  src/script/interpreter.h
  src/script/sigcache.h
  src/script/sign.cpp
  src/script/sign.h
  src/script/zcash_script.cpp
  src/script/zcash_script.h
  src/test/DoS_tests.cpp
  src/test/checkblock_tests.cpp
  src/test/data/zip0244.json
  src/test/multisig_tests.cpp
  src/test/script_P2SH_tests.cpp
  src/test/script_tests.cpp
  src/test/sighash_tests.cpp
  src/test/transaction_tests.cpp
  src/test/txvalidationcache_tests.cpp
  src/transaction_builder.cpp
  src/transaction_builder.h
  src/utiltest.cpp
  src/wallet/asyncrpcoperation_mergetoaddress.cpp
  src/wallet/asyncrpcoperation_shieldcoinbase.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/walletdb.cpp
  src/zcbenchmarks.cpp
Labels: A-consensus, L-rust, A-rust-ffi, NU5

#5597 Select Orchard notes in FindSpendableInputs
  src/wallet/wallet.cpp
Labels: A-wallet, note selection and shielded tx construction, S-committed, A-orchard
