Repository zcash/zcash, pull requests merged in 2022-09, with the labels that each got.

#5953 Restore documentation that had been moved to zcash.readthedocs.io
  doc/book/src/SUMMARY.md
  doc/book/src/dev/dnsseed-policy.md
  doc/book/src/user/files.md
  doc/book/src/user/security-warnings.md
  doc/book/src/user/shield-coinbase.md
  doc/book/src/user/tor.md
  doc/book/src/user/wallet-backup.md
  doc/dnsseed-policy.md
  doc/files.md
  doc/payment-api.md
  doc/security-warnings.md
  doc/shield-coinbase.md
  doc/tor.md
  doc/unit-tests.md
  doc/wallet-backup.md
Labels: A-documentation

#6160 rust: Migrate to latest `zcash_primitives` revision
  .cargo/config.offline
  Cargo.lock
  Cargo.toml
  src/rust/bin/inspect/address.rs
  src/rust/include/librustzcash.h
  src/rust/src/address_ffi.rs
  src/rust/src/rustzcash.rs
  src/rust/src/tests/key_agreement.rs
  src/rust/src/tests/key_components.rs
  src/rust/src/tests/notes.rs
  src/rust/src/wallet_scanner.rs
  src/zcash/Note.cpp
Labels: A-dependencies, L-rust, A-rust-ffi

#6172 wallet: Refactor `ThreadNotifyWallets` to support batch memory limits
  doc/release-notes.md
  src/rust/src/wallet_scanner.rs
  src/validationinterface.cpp
  src/validationinterface.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: A-wallet, I-performance, memory management

#6177 Update dependencies for 5.3.0
  .github/workflows/lints.yml
  Cargo.lock
  Cargo.toml
  depends/funcs.mk
  depends/packages/boost.mk
  depends/packages/native_cxxbridge.mk
  depends/packages/native_rust.mk
  depends/patches/native_cxxbridge/lockfile.diff
  qa/supply-chain/audits.toml
  qa/supply-chain/config.toml
  qa/zcash/postponed-updates.txt
  rust-toolchain
  rust-toolchain.toml
  src/rust/src/rustzcash.rs
  src/rust/src/zcashd_orchard.rs
Labels: A-build, A-dependencies

#6152 Fix finalorchardroot serialization
  doc/release-notes.md
  qa/pull-tester/rpc-tests.py
  qa/rpc-tests/feature_zip221.py
  qa/rpc-tests/finalorchardroot.py
  qa/rpc-tests/finalsaplingroot.py
  src/rpc/blockchain.cpp
Labels: A-rpc-interface, C-bugfix

#6156 Switch to a version of librustzcash that prepares ivk and epk when doing trial decryption
  .cargo/config.offline
  Cargo.lock
  Cargo.toml
  qa/supply-chain/audits.toml
  qa/supply-chain/config.toml
  src/rust/src/wallet_scanner.rs
Labels: I-performance, L-rust, A-rust-ffi

#6175 metrics: Add gauge for the height to which the wallet is synced
  doc/release-notes.md
  src/validationinterface.cpp
Labels: A-wallet, A-metrics
