Repository zcash/zcash, pull requests merged in 2022-01, with the labels that each got.

#5395 Add unified addresses to the zcashd wallet.
  src/chainparams.cpp
  src/chainparams.h
  src/gtest/test_keystore.cpp
  src/key_constants.h
  src/keystore.cpp
  src/keystore.h
  src/rust/include/librustzcash.h
  src/rust/src/rustzcash.rs
  src/util/match.h
  src/wallet/gtest/test_wallet.cpp
  src/wallet/rpcdump.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/wallet/walletdb.h
  src/zcash/Address.cpp
  src/zcash/Address.hpp
  src/zcash/address/bip44.cpp
  src/zcash/address/bip44.h
  src/zcash/address/unified.cpp
  src/zcash/address/unified.h
  src/zcash/address/zip32.cpp
  src/zcash/address/zip32.h
Labels: S-committed, safe-to-build

#5451 rpc: Fix regression in getblocktemplate output
  qa/rpc-tests/getblocktemplate.py
  qa/rpc-tests/test_framework/mininode.py
  qa/rpc-tests/test_framework/zip244.py
  src/miner.cpp
  src/miner.h
  src/rpc/mining.cpp
Labels: C-bug, A-pow, I-regression, A-rpc-interface

#5452 Release v4.6.0-1
  README.md
  configure.ac
  contrib/debian/changelog
  contrib/gitian-descriptors/gitian-linux.yml
  doc/authors.md
  doc/man/zcash-cli.1
  doc/man/zcash-tx.1
  doc/man/zcashd.1
  doc/release-notes/release-notes-4.6.0-1.md
  src/clientversion.h
Labels: release

#5454 Hotfix v4.6.0-1
  README.md
  configure.ac
  contrib/debian/changelog
  contrib/gitian-descriptors/gitian-linux.yml
  doc/authors.md
  doc/man/zcash-cli.1
  doc/man/zcash-tx.1
  doc/man/zcashd.1
  doc/release-notes/release-notes-4.6.0-1.md
  qa/rpc-tests/getblocktemplate.py
  qa/rpc-tests/test_framework/mininode.py
  qa/rpc-tests/test_framework/zip244.py
  src/clientversion.h
  src/miner.cpp
  src/miner.h
  src/rpc/mining.cpp
Labels: release, safe-to-build

#5455 Update feature/wallet_unified_addresses with latest master
  .cargo/config.offline
  Cargo.lock
  Cargo.toml
  README.md
  configure.ac
  contrib/debian/changelog
  contrib/devtools/update-rust-hashes.sh
  contrib/docker/README.md
  contrib/gitian-descriptors/gitian-linux.yml
  depends/packages/boost.mk
  depends/packages/native_rust.mk
  doc/authors.md
  doc/man/zcash-cli.1
  doc/man/zcash-tx.1
  doc/man/zcashd.1
  doc/release-notes/release-notes-4.6.0-1.md
  doc/release-notes/release-notes-4.6.0-rc1.md
  doc/release-notes/release-notes-4.6.0.md
  qa/pull-tester/rpc-tests.py
  qa/rpc-tests/getblocktemplate.py
  qa/rpc-tests/getmininginfo.py
  qa/rpc-tests/nuparams.py
  qa/rpc-tests/test_framework/mininode.py
  qa/rpc-tests/test_framework/zip244.py
  qa/zcash/postponed-updates.txt
  src/clientversion.h
  src/deprecation.h
  src/gtest/test_rpc.cpp
  src/init.cpp
  src/main.cpp
  src/main.h
  src/miner.cpp
  src/miner.h
  src/rpc/mining.cpp
  src/rust/src/address_ffi.rs
  zcutil/fetch-params.sh
Labels: A-rust-ffi

#5459 Avoid a warning by explicitly calling drop
  Cargo.lock
  Cargo.toml
  src/rust/src/zip339_ffi.rs
Labels: C-cleanup, safe-to-build

#5440 Prerequisites for replacing manual transaction construction in asyncrpcoperation_sendmany with the transaction builder.
  qa/rpc-tests/wallet_shieldingcoinbase.py
  src/chainparams.cpp
  src/consensus/params.cpp
  src/gtest/test_keys.cpp
  src/init.cpp
  src/key_io.cpp
  src/key_io.h
  src/keystore.cpp
  src/keystore.h
  src/miner.cpp
  src/miner.h
  src/pubkey.h
  src/rpc/misc.cpp
  src/script/script.h
  src/script/standard.h
  src/test/key_tests.cpp
  src/util/match.h
  src/wallet/asyncrpcoperation_mergetoaddress.cpp
  src/wallet/asyncrpcoperation_mergetoaddress.h
  src/wallet/asyncrpcoperation_saplingmigration.cpp
  src/wallet/asyncrpcoperation_sendmany.cpp
  src/wallet/asyncrpcoperation_sendmany.h
  src/wallet/asyncrpcoperation_shieldcoinbase.cpp
  src/wallet/asyncrpcoperation_shieldcoinbase.h
  src/wallet/gtest/test_wallet.cpp
  src/wallet/rpcdump.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/test/rpc_wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/zcash/Address.cpp
  src/zcash/Address.hpp
Labels: A-wallet, C-cleanup, S-committed, safe-to-build

#5445 Fix typos
  qa/rpc-tests/wallet_shieldcoinbase.py
  qa/zcash/smoke_tests.py
Labels: safe-to-build

#5458 Use the transaction builder to implement z_sendmany.
  doc/release-notes.md
  qa/pull-tester/rpc-tests.py
  qa/rpc-tests/finalsaplingroot.py
  qa/rpc-tests/mergetoaddress_mixednotes.py
  qa/rpc-tests/paymentdisclosure.py
  qa/rpc-tests/remove_sprout_shielding.py
  qa/rpc-tests/sprout_sapling_migration.py
  qa/rpc-tests/turnstile.py
  qa/rpc-tests/wallet_changeaddresses.py
  qa/rpc-tests/wallet_listnotes.py
  qa/rpc-tests/wallet_listreceived.py
  qa/rpc-tests/wallet_overwintertx.py
  qa/rpc-tests/wallet_sapling.py
  qa/rpc-tests/wallet_sendmany_any_taddr.py
  qa/rpc-tests/wallet_shieldingcoinbase.py
  src/transaction_builder.cpp
  src/wallet/asyncrpcoperation_sendmany.cpp
  src/wallet/asyncrpcoperation_sendmany.h
  src/wallet/rpcwallet.cpp
  src/wallet/test/rpc_wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/zcash/Address.hpp
Labels: A-wallet, C-cleanup, A-rpc-interface, C-simplification, A-wallet-change, S-committed, NU5

#5475 Implement wallet UA RPCs
  qa/pull-tester/rpc-tests.py
  qa/rpc-tests/wallet_accounts.py
  src/test/util_tests.cpp
  src/uint256.cpp
  src/utilstrencodings.cpp
  src/utilstrencodings.h
  src/wallet/rpcwallet.cpp
  src/wallet/walletdb.h
Labels: A-wallet, A-rpc-interface

#5484 Fully-validate contents of UAs and UFVKs on parsing
  Cargo.lock
  Cargo.toml
  src/Makefile.am
  src/rust/src/address_ffi.rs
  src/rust/src/unified_keys_ffi.rs
Labels: A-dependencies, L-rust, A-rust-ffi, NU5

#5463 Drop pyblake2 dependency
  qa/rpc-tests/test_framework/blocktools.py
  qa/rpc-tests/test_framework/flyclient.py
  qa/rpc-tests/test_framework/mininode.py
  qa/rpc-tests/test_framework/script.py
  qa/rpc-tests/test_framework/zip244.py
  src/chainparams.cpp
  src/gtest/test_joinsplit.cpp
Labels: A-testing, A-dependencies, L-python, safe-to-build

#5485 Shared utility code needed for z_sendmany and other UA balance-related RPCs.
  qa/rpc-tests/wallet_sendmany_any_taddr.py
  qa/rpc-tests/wallet_shieldingcoinbase.py
  src/init.cpp
  src/wallet/asyncrpcoperation_sendmany.cpp
  src/wallet/asyncrpcoperation_sendmany.h
  src/wallet/rpcwallet.cpp
  src/wallet/test/rpc_wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/zcash/Address.cpp
  src/zcash/Address.hpp
Labels: A-wallet, C-cleanup, safe-to-build

#5464 mining: submitblock: log detailed equihash solution error
  src/rust/src/rustzcash.rs
Labels: A-pow, A-rpc-interface, A-logging, safe-to-build

#5500 Implement balance RPC methods that support Unified Addresses
  qa/rpc-tests/wallet_accounts.py
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: A-wallet, A-rpc-interface, NU5
