Repository zcash/zcash, pull requests merged in 2022-07, with the labels that each got.

#6023 Batch-verify Orchard proofs
  Cargo.lock
  Cargo.toml
  contrib/debian/copyright
  qa/supply-chain/audits.toml
  qa/supply-chain/config.toml
  qa/zcash/create_benchmark_archive.py
  qa/zcash/performance-measurements.sh
  src/bench/bench_bitcoin.cpp
  src/gtest/utils.cpp
  src/init.cpp
  src/main.cpp
  src/primitives/orchard.h
  src/rust/include/librustzcash.h
  src/rust/include/rust/orchard.h
  src/rust/src/orchard_ffi.rs
  src/rust/src/rustzcash.rs
  src/test/test_bitcoin.cpp
  src/wallet/rpcwallet.cpp
  src/zcbenchmarks.cpp
  src/zcbenchmarks.h
Labels: I-performance, A-consensus, A-circuit, A-benchmarks, A-chain-sync, safe-to-build, A-orchard

#6014 Upgrade to metrics 0.19.x and metrics-exporter-prometheus 0.10.x
  Cargo.lock
  Cargo.toml
  qa/supply-chain/config.toml
  src/rust/src/metrics_ffi.rs
Labels: A-dependencies, safe-to-build, A-metrics

#5987 Add Orchard details to getrawtransaction
  qa/rpc-tests/wallet_orchard.py
  src/Makefile.am
  src/primitives/orchard.h
  src/rpc/rawtransaction.cpp
  src/rust/src/orchard_bundle.rs
  src/rust/src/rustzcash.rs
Labels: A-rpc-interface, L-rust, A-rust-ffi, safe-to-build, A-orchard

#6022 Make shielded requirements error "debug" level rather than an error.
  src/main.cpp
Labels: A-logging, safe-to-build

#6037 Add a clock for testing with an offset from the system clock.
  src/gtest/test_mempoollimit.cpp
  src/gtest/test_metrics.cpp
  src/init.cpp
  src/rpc/misc.cpp
  src/test/DoS_tests.cpp
  src/test/alert_tests.cpp
  src/test/checkblock_tests.cpp
  src/test/miner_tests.cpp
  src/utiltime.cpp
  src/utiltime.h
Labels: A-testing, safe-to-build

#6041 Revert "Merge pull request #6037 from nuttycom/feature/clock_capability"
  src/gtest/test_mempoollimit.cpp
  src/gtest/test_metrics.cpp
  src/init.cpp
  src/rpc/misc.cpp
  src/test/DoS_tests.cpp
  src/test/alert_tests.cpp
  src/test/checkblock_tests.cpp
  src/test/miner_tests.cpp
  src/utiltime.cpp
  src/utiltime.h
Labels: safe-to-build

#5947 Deprecate vjoinsplit attribute of gettransaction result.
  doc/book/src/user/deprecation.md
  doc/release-notes.md
  src/deprecation.cpp
  src/deprecation.h
  src/wallet/rpcwallet.cpp
Labels: safe-to-build

#6046 Replace "Disabled" Orchard AuthValidator with std::nullopt
  src/main.cpp
  src/main.h
  src/rust/include/rust/orchard.h
Labels: C-bug, A-consensus, safe-to-build

#6000 Enable ZIP 216 for blocks prior to NU5 activation
  src/Makefile.am
  src/bench/verification.cpp
  src/chainparams.cpp
  src/main.cpp
  src/rust/include/librustzcash.h
  src/rust/src/rustzcash.rs
  src/rust/src/sapling.rs
  src/uint256.h
  src/zcbenchmarks.cpp
Labels: A-consensus, C-simplification, L-rust, A-rust-ffi, safe-to-build, NU5

#6048 Use batch validation for Sapling proofs and signatures
  Cargo.lock
  Cargo.toml
  qa/supply-chain/audits.toml
  qa/supply-chain/config.toml
  qa/zcash/create_benchmark_archive.py
  qa/zcash/performance-measurements.sh
  src/gtest/test_checktransaction.cpp
  src/main.cpp
  src/main.h
  src/rust/src/rustzcash.rs
  src/rust/src/sapling.rs
  src/test/transaction_tests.cpp
  src/uint256.h
  src/wallet/rpcwallet.cpp
  src/zcbenchmarks.cpp
  src/zcbenchmarks.h
Labels: I-performance, A-consensus, L-rust, A-chain-sync, A-rust-ffi, safe-to-build

#6053 Release v5.1.0-rc1
  README.md
  configure.ac
  contrib/debian/changelog
  contrib/gitian-descriptors/gitian-linux.yml
  doc/man/zcash-cli.1
  doc/man/zcash-tx.1
  doc/man/zcashd-wallet-tool.1
  doc/man/zcashd.1
  doc/release-notes.md
  doc/release-notes/release-notes-5.1.0-rc1.md
  qa/zcash/postponed-updates.txt
  qa/zcash/updatecheck.py
  src/clientversion.h
  src/deprecation.h
Labels: safe-to-build

#6055 Move "previous coinbase" UI monitoring into ThreadNotifyWallets
  src/main.cpp
  src/validationinterface.cpp
Labels: A-wallet, I-race, safe-to-build

#6057 miner: Disable proof and signature checks in CreateNewBlock
  doc/release-notes.md
  src/main.cpp
  src/main.h
  src/miner.cpp
  src/rpc/mining.cpp
  src/zcbenchmarks.cpp
Labels: I-performance, A-pow, A-rpc-interface, safe-to-build

#6060 wallet: Comment out slow assertion
  src/wallet/wallet.cpp
Labels: A-wallet, I-performance, I-heisenbug, safe-to-build

#6063 Release v5.1.0
  README.md
  configure.ac
  contrib/debian/changelog
  contrib/gitian-descriptors/gitian-linux.yml
  doc/authors.md
  doc/man/zcash-cli.1
  doc/man/zcash-tx.1
  doc/man/zcashd-wallet-tool.1
  doc/man/zcashd.1
  doc/release-notes.md
  doc/release-notes/release-notes-5.1.0.md
  qa/zcash/postponed-updates.txt
  src/clientversion.h
  src/deprecation.h
Labels: release, safe-to-build

#6059 Update smoke_test.py to compensate for changes in minimum confirmations required
  qa/zcash/smoke_tests.py
Labels: C-bug, A-testing, A-rpc-interface, L-python, safe-to-build

#6070 Return useful error message on ATMP failure
  src/wallet/asyncrpcoperation_common.h
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: A-wallet, C-upstream-port, I-error-handling, safe-to-build

#5065 Bitcoin 0.12 Merkle tree PRs
  doc/release-notes.md
  src/Makefile.am
  src/Makefile.test.include
  src/chainparams.cpp
  src/consensus/merkle.cpp
  src/consensus/merkle.h
  src/core_memusage.h
  src/gtest/test_validation.cpp
  src/main.cpp
  src/miner.cpp
  src/primitives/block.cpp
  src/primitives/block.h
  src/rpc/mining.cpp
  src/test/main_tests.cpp
  src/test/merkle_tests.cpp
  src/test/miner_tests.cpp
  src/test/pmt_tests.cpp
  src/wallet/gtest/test_rpc_wallet.cpp
  src/wallet/gtest/test_wallet.cpp
  src/wallet/test/rpc_wallet_tests.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
Labels: A-wallet, C-upstream-port, A-consensus, S-waiting-on-review, E-help-wanted, safe-to-build

#6067 Don't rename main thread
  src/bitcoind.cpp
Labels: I-regression, safe-to-build

#6029 chore: Set permissions for GitHub actions
  .github/workflows/audits.yml
Labels: safe-to-build

#6074 Update documentation to refer to the actual two-hyphen `--nozmq` flag
  qa/pull-tester/rpc-tests.py
Labels: safe-to-build

#6069 wallet: Prune witnesses for notes spent more than 100 blocks ago
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: A-wallet, I-performance, safe-to-build

#6073 Cache Sapling and Orchard bundle validation
  src/Makefile.am
  src/gtest/main.cpp
  src/gtest/test_checktransaction.cpp
  src/init.cpp
  src/main.cpp
  src/rust/include/rust/orchard.h
  src/rust/src/bundlecache.rs
  src/rust/src/orchard_ffi.rs
  src/rust/src/rustzcash.rs
  src/rust/src/sapling.rs
  src/script/sigcache.cpp
  src/script/sigcache.h
  src/test/test_bitcoin.cpp
  src/zcash/cache.cpp
  src/zcash/cache.h
Labels: I-performance, A-consensus, L-rust, A-chain-sync, A-rust-ffi, safe-to-build

#6042 Add a clock for testing with an offset from the system clock.
  configure.ac
  qa/rpc-tests/maxuploadtarget.py
  qa/rpc-tests/test_framework/util.py
  qa/rpc-tests/wallet_1941.py
  src/gtest/test_mempoollimit.cpp
  src/gtest/test_metrics.cpp
  src/init.cpp
  src/mempool_limit.cpp
  src/mempool_limit.h
  src/rpc/misc.cpp
  src/test/DoS_tests.cpp
  src/test/alert_tests.cpp
  src/test/checkblock_tests.cpp
  src/test/miner_tests.cpp
  src/test/sanity_tests.cpp
  src/txmempool.cpp
  src/txmempool.h
  src/util/time.cpp
  src/util/time.h
Labels: A-testing, A-consensus, safe-to-build

#6079 Use FastRandomContext for all tests
  src/Makefile.test.include
  src/gtest/test_coins.cpp
  src/gtest/utils.h
  src/random.cpp
  src/random.h
  src/test/DoS_tests.cpp
  src/test/bloom_tests.cpp
  src/test/checkqueue_tests.cpp
  src/test/coins_tests.cpp
  src/test/crypto_tests.cpp
  src/test/cuckoocache_tests.cpp
  src/test/dbwrapper_tests.cpp
  src/test/merkle_tests.cpp
  src/test/pmt_tests.cpp
  src/test/pow_tests.cpp
  src/test/prevector_tests.cpp
  src/test/random_tests.cpp
  src/test/sighash_tests.cpp
  src/test/skiplist_tests.cpp
  src/test/streams_tests.cpp
  src/test/test_bitcoin.cpp
  src/test/test_bitcoin.h
  src/test/test_random.h
  src/test/transaction_tests.cpp
  src/test/util_tests.cpp
  src/wallet/test/crypto_tests.cpp
Labels: A-testing, C-upstream-port, safe-to-build

#6084 bench: Fix ConnectBlock large block benchmarks
  src/main.cpp
  src/zcbenchmarks.cpp
Labels: C-bug, A-benchmarks, safe-to-build

#5287 [Wallet] Restructure increment witnesses workflow
  src/wallet/wallet.cpp
  src/zcash/Address.cpp
Labels: A-wallet, I-performance

#6082 Backport SHA-256 assembly optimisations
  configure.ac
  src/Makefile.am
  src/Makefile.bench.include
  src/Makefile.gtest.include
  src/Makefile.test.include
  src/bench/bench_bitcoin.cpp
  src/bench/crypto_hash.cpp
  src/bench/merkle_root.cpp
  src/consensus/merkle.cpp
  src/consensus/merkle.h
  src/crypto/sha256.cpp
  src/crypto/sha256.h
  src/crypto/sha256_avx2.cpp
  src/crypto/sha256_shani.cpp
  src/crypto/sha256_sse4.cpp
  src/crypto/sha256_sse41.cpp
  src/init.cpp
  src/test/crypto_tests.cpp
  src/test/merkle_tests.cpp
  src/test/test_bitcoin.cpp
Labels: A-crypto, I-performance, C-upstream-port

#6088 Use multithreaded batched trial decryption for Sapling outputs
  Cargo.lock
  Cargo.toml
  src/Makefile.am
  src/rust/src/rustzcash.rs
  src/rust/src/wallet_scanner.rs
  src/uint256.h
  src/validationinterface.cpp
  src/validationinterface.h
  src/wallet/gtest/test_wallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/zcbenchmarks.cpp
Labels: A-wallet, I-performance

#6093 Release v5.2.0 rc1
  README.md
  configure.ac
  contrib/debian/changelog
  contrib/gitian-descriptors/gitian-linux.yml
  doc/man/zcash-cli.1
  doc/man/zcash-tx.1
  doc/man/zcashd-wallet-tool.1
  doc/man/zcashd.1
  doc/release-notes/release-notes-5.2.0-rc1.md
  src/clientversion.h
  src/deprecation.h
Labels: release

#6098 Update to cxx 1.0.72 and narrow use of `#[allow(clippy::too_many_arguments)]`
  Cargo.lock
  Cargo.toml
  contrib/debian/copyright
  depends/packages/native_cxxbridge.mk
  depends/patches/native_cxxbridge/lockfile.diff
  qa/supply-chain/audits.toml
  qa/zcash/postponed-updates.txt
  src/rust/src/sapling.rs
Labels: PR_cleanup
