Repository zcash/zcash, pull requests merged in 2023-01, with the labels that each got.

#6314 txdb: Remove const annotation from blockinfo iterator type
  src/txdb.cpp
Labels: C-bugfix

#6310 Backport mempool package tracking
  qa/pull-tester/rpc-tests.py
  qa/rpc-tests/mempool_packages.py
  qa/rpc-tests/mergetoaddress_helper.py
  qa/rpc-tests/prioritisetransaction.py
  src/init.cpp
  src/main.cpp
  src/main.h
  src/memusage.h
  src/rpc/blockchain.cpp
  src/test/mempool_tests.cpp
  src/txmempool.cpp
  src/txmempool.h
Labels: C-upstream-port, A-mempool

#6311 Add some more historical checkpoints
  src/chainparams.cpp
Labels: A-chain-sync

#6337 Update Rust dependencies
  Cargo.lock
  Cargo.toml
  qa/supply-chain/audits.toml
  qa/supply-chain/config.toml
  qa/supply-chain/imports.lock
  src/rust/bin/inspect/keys.rs
Labels: A-dependencies, L-rust

#6316 Remove outdated Sprout tests
  qa/pull-tester/rpc-tests.py
  qa/rpc-tests/mergetoaddress_mixednotes.py
  qa/rpc-tests/mergetoaddress_sprout.py
  qa/rpc-tests/turnstile.py
  qa/rpc-tests/wallet_listnotes.py
  qa/rpc-tests/wallet_listreceived.py
  qa/rpc-tests/wallet_overwintertx.py
  qa/rpc-tests/wallet_shieldcoinbase_sprout.py
Labels: A-testing, A-rpc-interface, P-sprout

#6136 Add basic Tekton Zcash CI environment
  contrib/ci-builders/tekton/tekton-labs/README.md
  contrib/ci-builders/tekton/tekton-labs/releases/tekton-dashboard-readonly-v0.27.0.yaml
  contrib/ci-builders/tekton/tekton-labs/releases/tekton-pipeline-v0.37.0.yaml
  contrib/ci-builders/tekton/tekton-labs/tasks/zcash-build-bench.yml
  contrib/ci-builders/tekton/tekton-labs/tasks/zcash-build-test.yml
  contrib/ci-builders/tekton/tekton-labs/tasks/zcash-build.yml
Labels: A-CI, A-benchmarks

#6299 Update performance-measurements.sh with Heaptrack
  qa/zcash/performance-measurements.sh
Labels: I-performance, A-benchmarks

#5301 Add CMake to depends system
  build-aux/m4/ax_boost_base.m4
  build-aux/m4/ax_boost_chrono.m4
  build-aux/m4/ax_boost_filesystem.m4
  build-aux/m4/ax_boost_program_options.m4
  build-aux/m4/ax_boost_system.m4
  build-aux/m4/ax_boost_thread.m4
  build-aux/m4/ax_boost_unit_test_framework.m4
  configure.ac
  depends/funcs.mk
  depends/hosts/darwin.mk
  depends/hosts/freebsd.mk
  depends/hosts/linux.mk
  depends/hosts/mingw32.mk
  depends/packages/boost.mk
  depends/packages/googletest.mk
  depends/packages/native_ccache.mk
  depends/packages/native_cmake.mk
  depends/packages/native_zstd.mk
  depends/packages/packages.mk
  qa/zcash/postponed-updates.txt
  qa/zcash/updatecheck.py
  src/wallet/gtest/test_note_selection.cpp
Labels: A-build, C-upstream-port, A-dependencies

#6341 Remove CentOS 8 as a supported platform
  contrib/devtools/symbol-check.py
  doc/book/src/user/platform-support.md
  doc/release-notes.md
Labels: dev policy, C-deprecation

#6346 Cleanup after removing dumpwallet
  src/wallet/rpcdump.cpp
Labels: A-wallet, C-cleanup

#6347 Increase the time that the wallet will wait for the block index to load
  doc/release-notes.md
  src/init.cpp
Labels: I-fail-to-run

#6348 Update dependencies for 5.4.0 and fix some help messages
  Cargo.lock
  Cargo.toml
  depends/packages/boost.mk
  depends/packages/native_cxxbridge.mk
  depends/packages/utfcpp.mk
  qa/rpc-tests/show_help.py
  qa/supply-chain/audits.toml
  qa/zcash/postponed-updates.txt
  qa/zcash/updatecheck.py
  src/bitcoin-cli.cpp
  src/init.cpp
  src/logging.cpp
  src/rpc/protocol.cpp
  src/rpc/protocol.h
  src/util/system.cpp
  src/util/system.h
  src/wallet/wallet.cpp
  src/wallet/walletdb.cpp
Labels: A-dependencies

#6343 Fix typos
  contrib/ci-builders/tekton/tekton-labs/README.md
  contrib/linearize/example-linearize.cfg
  src/txmempool.h
Labels: C-cleanup

#6357 Release v5.4.0-rc1
  README.md
  configure.ac
  contrib/debian/changelog
  contrib/gitian-descriptors/gitian-linux-parallel.yml
  contrib/gitian-descriptors/gitian-linux.yml
  depends/packages/native_cmake.mk
  doc/hotfix-process.md
  doc/man/zcash-cli.1
  doc/man/zcash-tx.1
  doc/man/zcashd-wallet-tool.1
  doc/man/zcashd.1
  doc/release-notes/release-notes-5.4.0-rc1.md
  src/clientversion.h
  src/deprecation.h
Labels: release

#4470 Add transparent value pool to RPC calls
  .gitignore
  contrib/metrics/pyproject.toml
  contrib/metrics/supply_check/__init__.py
  contrib/metrics/supply_check/deltas_mainnet.py
  contrib/metrics/supply_check/funding_streams_mainnet.py
  contrib/metrics/supply_check/supply_deltas.py
  contrib/metrics/supply_check/theoretical.py
  qa/rpc-tests/wallet_persistence.py
  src/chain.h
  src/coins.cpp
  src/coins.h
  src/main.cpp
  src/primitives/transaction.cpp
  src/rpc/blockchain.cpp
  src/txdb.cpp
Labels: A-rpc-interface, A-metrics

#6364 Release v5.4.0-rc2
  README.md
  configure.ac
  contrib/debian/changelog
  contrib/gitian-descriptors/gitian-linux-parallel.yml
  contrib/gitian-descriptors/gitian-linux.yml
  doc/man/zcash-cli.1
  doc/man/zcash-tx.1
  doc/man/zcashd-wallet-tool.1
  doc/man/zcashd.1
  doc/release-notes.md
  doc/release-notes/release-notes-5.4.0-rc2.md
  qa/rpc-tests/wallet_persistence.py
  qa/zcash/postponed-updates.txt
  src/clientversion.h
  src/deprecation.h
  src/main.cpp
Labels: release

#6358 qa: Enable RPC test execution to be overridden from Python
  qa/pull-tester/rpc-tests.py
Labels: A-testing, A-CI, A-rpc-interface

#6370 Fixes an error in `zcash-cli help` following the removal of `dumpwallet`.
  contrib/zcash-cli.bash-completion
  src/wallet/rpcwallet.cpp
Labels: C-bug, A-rpc-interface, C-deprecation

#6374 Allow rescan to exit in the case that Ctrl-C is pressed.
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: S-waiting-on-review

#6368 Fetch recently conflicted transactions incrementally in ThreadNotifyWallet
  doc/release-notes.md
  src/main.cpp
  src/main.h
  src/rust/src/wallet_scanner.rs
  src/validationinterface.cpp
  src/validationinterface.h
  src/wallet/wallet.cpp
  src/wallet/wallet.h
Labels: S-waiting-on-review

#6382 Defer z_getbalance and z_gettotalbalance disablement.
  doc/book/src/user/deprecation.md
  doc/release-notes.md
  src/deprecation.h
Labels: A-wallet, S-waiting-on-review, C-deprecation

#6387 Reset Orchard wallet state in `CWallet::ClearNoteWitnessCache`
  qa/pull-tester/rpc-tests.py
  qa/rpc-tests/wallet_orchard_reindex.py
  src/rust/include/rust/orchard/wallet.h
  src/wallet/orchard.h
  src/wallet/wallet.cpp
Labels: C-bug, A-wallet, A-chain-sync, A-orchard, C-bugfix
